<html> 
   
    
    <head>
        <link rel="stylesheet" href = "{{url_for('static', filename='portStyles.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="whiteDiv">
            <h1 style="margin-bottom:50px"><b>Evan Miocevich</b></h1>
            A curious Computer Science student with a passion for Web Development, Game Development, and Data Structures and Algorithms
        </div>
        
        <div class="backImage">
            <img src="{{url_for('static',filename='assets/gameJam.png')}}" width="35%">
            <img src="{{url_for('static', filename='assets/leetShot.png')}}" width="40%">
            <img src="{{url_for('static', filename='assets/reactScreenshot.png')}}" width="40%">
        </div>
        <div class="whiteDiv" style="align-content:center">
            <a href="/home">
                <button class="pages">Home</button>
            </a>
            <a href="/projects"> 
                <button class="pages">Projects</button>
            </a>
            <a href="/about">
                <button class="pages">About</button>
            </a>
        </div>
        <canvas id="animBack" style="height:30%"></canvas>
        <a href="mailto:evanmiocevich@gmail.com"  target="_blank">
            <button class="links" ><img src="{{url_for('static', filename='assets/email.svg')}}" width="27px" height="27px"> Email me</button>
        </a>
        
        <a href="https://github.com/Games4Doritos" target="_blank">
            <button class="links"><img src="{{url_for('static',filename='assets/github.svg')}}" width="27px" height="27px"> Check out my GitHub</button>
        </a>
        
        <a href="https://www.linkedin.com/in/evan-miocevich-615a81381/" target="_blank">
            <button class="links">Connect with me on LinkedIn</button>
        </a>
        
        <a href="https://leetcode.com/u/evanMio/"  target="_blank">
            <button class="links" style="margin-bottom:70px"> <img src="{{url_for('static', filename='assets/leetcode.svg')}}" > Check out my Leetcode Profile</button>
        </a>
        
        <a href="https://steamcommunity.com/profiles/76561198850292502/"  target="_blank">
            <button class="links" style="margin-bottom:70px"><img src="{{url_for('static', filename='assets/steam.svg')}}"  width="27px" height="27px">  Add me on Steam </button>
        </a>
       
        <div class="whiteDiv" >
        </div>
    </body>
    <script src="{{url_for('static', filename='portfolio.js')}}"></script>
</html>