<!DOCTYPE html>

<html>
    <head>
        <title>assss</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: blue;">
        <h1 style="color:aqua">
           ethan is a bad person
        </h1>
        <hr>
        <a href="https://www.w3schools.com/html/html_elements.asp" target=_blank title = "silly sucka">
                <i><b>si</b></i>lly
        </a>
        <p>
        nev drinks wine, bailey has a silly, jake dies,
        who is the sigma?
        </p>
        <audio controls loop src="assets/Monkeys-Spinning-Monkeys.mp3">
            this doesn't support html audio

        </audio>
        
        <a href="https://quiz.jinhong.org/login/index.php" target=_blank title = "gibby lose">
            <img src="assets/gibby.jpg" height = '100' width = '200'>
        </a>

        <table bgcolor="lightpink">
            <tr bgcolor="grey">
                <th>evan?</th>
                <th>ethan?</th>
                <th>bailey?</th>
                <th>jake?</th>
                <th>nev?</th>
                <th>dash?</th>
                <th>owen?</th>
                <th>zac?</th>
                <th>isaiah?</th>
            </tr>
            <tr bgcolor="lightblue" align="center">
                <td>10</td>
                <td>3</td>
                <td>2</td>
                <td>5</td>
                <td>7</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>0</td>
            </tr>
        
        </table>
        <br>
        <form>
            <label for="sex">sex?:</label>
            <input type="text" id="sex" placeholder="suck me dry" required>
            <br>
            <label for="maidens">bitches?:</label>
            <input type="text" id="maidens" placeholder="no maidens?" required>
            <br>
            <input type="reset" onclick="submissions()">
            <br>
            <input type="submit" onclick ="submissions()">
            <br>
            <label for="pass">password:</label>
            <input type="password" id="pass"  placeholder="password123" required maxlength="12">
            <br>
            <label for="email">email:</label>
            <input type="email" id="email" placeholder="man@womanwagina123" required>
            <br>
            <label for="phone">phone number:</label>
            <input type="tel" id="phone" placeholder="12345678">
            <br>
            <label for="date">date of death:</label>
            <input type="date" id="date" placeholder="31-12-2005">
            <br>
            <label for="num">number of maidens:</label>
            <input type="number" id="num" placeholder="69">

        </form>
        <div id ='result'></div>

        <script src="index.js"></script>
    </body>



</html>
