<html>
    <head>
        <link rel="stylesheet" href = "{{url_for('static', filename='portStyles.css')}}">
       
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Projects</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        <div class="whiteDiv">
            <h1>Projects</h1>
            <a href="/home">
                <button class="pages">Home</button>
            </a>
            <a href="/projects"> 
                <button class="pages">Projects</button>
            </a>
            <a href="/about">
                <button class="pages">About</button>
            </a>
        </div>
        <canvas id="animBack" style="height:100%"></canvas>
        <br>
        <div class="project" >
            <h2>Card Battle Game</h2>
            A turn-based card game where you can damage other player's hp bar by playing cards in their discard pile.
            <br>
            Being made in Godot 4.
            <br>
            <img src="{{url_for('static', filename='assets/prototypeScreenshot.png')}}" style="height:315px;width:600px;margin:30px">
            <br>
            <a href="https://github.com/Games4Doritos/Card-Game-Prototype" target="_blank">
                <button style="border-radius:10px;background-color:aquamarine;border-color:aliceblue">Check out an early prototype here</button>
            </a>
        </div>
        <div class="project" style="margin-bottom:70px">
            <h2>Survival Escape Game</h2>
            A game set in a large mysterious park (3D) monitored by an organisation where you have to gather items 
            from past 'players' and craft to ultimately escape the confines. 
            <br>
            Being made in Godot 4
            <br>
            <img src="{{url_for('static', filename='assets/3dGameShot.png')}}" style="height:300px;width:650px;margin:30px">
            <br>
            (Very early build)
        </div>
        <div class="project">
            <h2>Movie Collection Web Application</h2>
            A web-application made in react that displays currently popular movies and allows your to search for 
            and favourite any of them to add to your collection. Uses an API from <i>The Movie Database (TMDB)</i>
            <img src="{{url_for('static', filename='assets/movieShot.png')}}" style="height:300px;width:600px;padding:30px;">
            <br>

            <a href="https://github.com/Games4Doritos/Movie-Collection-App-React-Tutorial-Project-">
                <button style="border-radius:10px;background-color:aquamarine;border-color:aliceblue">Download it yourself</button>
            </a>
        </div>




    </body>



     <script src="{{url_for('static', filename='portfolio.js')}}"></script>
</html>