body {
    align-self: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    overflow-x:hidden;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    position: relative;
    margin:0;
    padding:0;
    
}


@keyframes particle {
    0% {transform: translate(random(0,50), random(0,50))};
}

.links{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size:25px;
    align-content: center;
    text-align: center; 
    height:60px;
    width:30%;
    border-style: outset;
    border-radius: 20px;
    border-color: azure;
    background-color: transparent;
    right: 35%;
    z-index:1;
    margin-top:70px;
    
}

.links:hover{
    background-color: azure;
    height: 65px;
    width:31%;
}

.pages{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color:blanchedalmond;
    height:60px;
    width:10%;
    border-style: none;
}

.pages:hover{
    background-color: rgb(212, 225, 225);
}

a{
    text-decoration: none;
}

.project{
    background-color: azure;
    text-align: left;
    border-style:outset;
    border-radius: 10px;
    padding:15px;
    margin-top:70px;
    margin-left:20px;
    margin-right:20px;
}


#animBack{
    width:100%;
    background-color:rgb(185, 237, 220);
    z-index:-1;
    position:absolute;
    display:block;
    

}

.whiteDiv{
    background-color: azure;
    padding:4%;
}   

h1{
    font-family:monospace;
}

.backImage{
    height:500px;
    width:100%;
    display:flex;
    
    overflow-x:hidden;
}

.credentials{
    padding: 4%;
    background-color: aliceblue;
    border-bottom: outset;
    border-top:outset;
}